<center class="card" style="width: 18rem; margin: 0 auto;">
  <img class="card-img-top" src="https://scontent.ftnr2-1.fna.fbcdn.net/v/t1.0-9/30728653_451705565247445_8041631640994185216_n.jpg?_nc_cat=0&oh=ceb88acff2f56c6f81563e3acb9b31ac&oe=5B65D52F" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Je suis RianaRC
    	<ul>
    		<li>Sur slack : @RianaRC</li>
    		<li>Equipe de Madagascar</li>
    	</ul></p>
  </div>
</center>