<center class="card" style="width: 18rem; margin: 0 auto;">
  <img class="card-img-top" src="https://lh3.googleusercontent.com/czfZwb1uVWVO0YuHt0mK-P7CQSA3ckghjuo7uVNI-KMVZYUtAot94UNnhKfKPHscWf6YvNTmjyZx=w542-h544-no">
  <div class="card-body">
    <p class="card-text">Je suis Cédric
    	<ul>
    		<li>Sur slack : @Cédric</li>
    		<li>Equipe de Madagascar</li>
    	</ul></p>
  </div>
</center>