
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Github</th>
      <th scope="col">Sur Slack</th>
    </tr>
  </thead>
  <tbody  style="background-color: #fffc;">
    <tr>
      <th scope="row">1</th>
      <td>Riana</td>
      <td>https://github.com/RianaRC</td>
      <td>@RianaRC</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Cédric</td>
      <td>https://github.com/Tafitasoa</td>
      <td>@Cédric</td>
    </tr>
  </tbody>
</table>



<!--
<div>
	<h2> Bienvenue dans le page des contacts </h2>
	<p> RianaRC (sur Slack: @Riana) </p>
	<p> Tafitasoa Cédric (sur Slack: @Cédric ) </p>
</div>

<a href = "<%=home_path%>" > Home </a>
-->