<div class="container">

	<div class="p-3 mb-2 bg-primary text-white">
		<h1 >Bienvenue sur notre premier site rails</h1>
	</div>
	
	<center style="color:#fff">
		<h3>Pair-programming de <strong>Riana</strong> et <strong>Cédric</strong></h3>
	</center> 
</div>


