<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>

<center>

<div style="position:relative;top:200px;">
<h1>Hello</h1>
<h1>Bienvenue sur ma page d accueil </h1>

<a href = "<%=creation_path%>" > Creer nouveau User </a> <br>
<a href = "<%=list_path%>" > Voir la liste </a>
</div>  

</center>